{
  "globals": {
    "chrome": false,
    "ES6Promise": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": [
    "standard"
  ],
  "rules": {
    "standard/no-callback-literal": 0,
    "prefer-promise-reject-errors": 0
  }
}
